/* LARGE - SMALL LAPTOPS: 1024px - 1260px */

@media (max-width: 72rem) {
  /* 1150px / 16px = 72rem */
  /* 72rem x 16px = 1152px */

  html {
    font-size: 56.25%;
    /* 9px / 16px = 56.25% */
  }
}

/* MEDIUM - TABLETS: 768px - 1024px */

@media (max-width: 51rem) {
  /* 815px / 16px = 51rem */
  /* 51rem x 16px = 816px */

  html {
    font-size: 50%;
    /* 8px / 16px = 50% */
  }

  .features-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
  }
}

/* SMALL - PHONE LANDSCAPE: 576px - 768px */

@media (max-width: 43rem) {
  /* 530px / 16px = 34rem */
  /* 34rem x 16px = 544px */

  html {
    font-size: 43.75%;
    /* 7px / 16px = 43.75% */
  }
}

/* X-SMALL - PHONE PORTRAIT: < 576px */
@media (max-width: 34rem) {
  /* 530px / 16px = 34rem */
  /* 34rem x 16px = 544px */

  html {
    font-size: 37.5%;
    /* 6px / 16px = 37.5% */
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    margin: 25px;
  }

  .headline-break {
    display: none;
  }

  .navlinks-and-cta {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    background: #f2f8fc;
    z-index: 99;
  }

  .navlinks-and-cta.active {
    display: flex;
  }

  .navbar-links {
    flex-direction: column;
  }

  .navbar-cta {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 100;
  }

  header {
    margin-bottom: 50px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-image {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
  }

  .hero-cta {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    width: 100%;
  }

  a.primary-btn,
  a.secondary-btn {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
  }

  .hero-txt {
    align-items: center;
  }

  .hero-txt h1,
  p {
    text-align: center;
  }

  header {
    margin-bottom: 50px;
  }

  .features-section {
    margin-top: 20rem;
  }

  .features-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .features-card-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: 300px;
  }

  .feature-image {
    width: 100%;
    height: 36rem;
    object-fit: cover;
    display: block;
    border-radius: 2rem;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .testimonial-container {
    margin-top: 1rem;
  }

  .testimonial-heading {
    text-align: center;
  }

  .testimonial-cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .proof-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .cta-section {
    margin-top: 1rem;
  }

  .cta-heading-container {
    display: flex;
    flex-direction: column;
  }

  .cta-heading {
    text-align: center;
  }

  .cta-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .cta-msg {
    align-items: center;
    gap: 2rem;
  }

  .cta-msg button {
    width: 100%;
  }
}
