.forecastCard {
  padding: 2rem;
  border-radius: 1.5rem;
  background: var(--surface-card);
}

.forecastCard span {
  display: flex;
  justify-content: space-between;
  color: var(--text-secondary);
  font-size: 1.4rem;
}
